<strong>Hi, {{ organizer }}</strong>
<p>There was an subscription to {{ meetup }}, see the details below:</p>
<p>
  <strong>Subscriber:</strong> {{ user }}
  <br />
  <strong>Date/time:</strong> {{ date }}
</p>